body {
    position: relative;
    padding-top: 56px; /* Altura da navbar */
}

section {
    padding: 60px 0;
    margin: 40px 0; /* Adiciona margens verticais entre as seções para evitar sobreposição */
}

#home {
    height: calc(100vh - 56px); /* Altura da navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
    z-index: -1;
}
.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(224, 224, 224, 0.8); /* Ajuste a opacidade aqui (0.5 é 50% opaco) */
    z-index: 1;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#events, #menu {
    height: auto; /* Ajuste a altura automaticamente para evitar sobreposição */
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.card-deck .card {
    margin-bottom: 30px;
}

.carousel-inner img {
    height: auto;
    max-height: 400px;
    object-fit: cover; /* Controle de altura das imagens do carousel */
}
