body {
    position: relative;
    padding-top: 56px; /* Altura da navbar */
}

section {
    padding: 60px 0;
    margin: 40px 0; /* Adiciona margens verticais entre as seções para evitar sobreposição */
}

#home {
    height: calc(100vh - 56px); /* Altura da navbar */
    display: flex;
    justify-content: center;
    align-items: center;
}

#events, #menu {
    height: auto; /* Ajuste a altura automaticamente para evitar sobreposição */
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.card-deck .card {
    margin-bottom: 30px;
}

.carousel-inner img {
    height: auto;
    max-height: 400px;
    object-fit: cover; /* Controle de altura das imagens do carousel */
}
