/* styles.css */

body {
    position: relative;
}

section {
    padding: 60px 0;
}

#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#events, #menu {
    height: 100vh;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.card-deck .card {
    margin-bottom: 30px;
}
